## Библиотеки

In [3]:
# Загружаем необходимые библиотеки
import pandas as pd
import numpy as np

# Посомтреть директория компа
import os
current_dir = os.getcwd()
print(current_dir)

In [5]:
# Убрать предупреждения
import warnings
warnings.filterwarnings('ignore')

## Загрузка данных

In [8]:
PATH_OUT = r'C:\Users\Admin\anaconda_projects\db'

In [10]:
# Загрузка данных в csv формате
df = pd.read_csv(PATH_OUT + '\\upload.csv', sep=';', encoding='cp1251', na_values=[' ']) #encoding='utf-8'
df = df.dropna()  # удалили строки с пропусками
df.shape
# df..... # команда, позволяющая вывести

(2997, 12)

In [12]:
df.head(7)

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги
0,муж,"55,9",нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально
1,жен,"37,4",нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально
2,жен,"48,3",да,1241,1,1,3,нормально,нормально,плохо,плохо,нормально
3,муж,"58,6",да,1579,1,1,4,нормально,плохо,нормально,хорошо,нормально
4,муж,"34,3",нет,469,0,1,4,нормально,отсутствует,плохо,нормально,нормально
5,муж,"33,3",нет,667,0,0,4,плохо,отсутствует,отсутствует,нормально,нормально
6,жен,"45,2",нет,865,1,1,4,хорошо,плохо,хорошо,нормально,хорошо

In [14]:
df.isna().sum()

Пол                                             0
Возраст                                         0
Путешествует с детьми                           0
Расстояние                                      0
Включён завтрак                                 0
Наличие wifi                                    0
Оценка удобства добирания до места              0
Оценка интерсности досуга                       0
Оценка качества питания                         0
Оценка качества wifi                            0
Оценка комфортности палатки                     0
Общая оценка качества предоставленной услуги    0
dtype: int64

In [17]:
# а если вывести несколько столбцов?
df.head()

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги
0,муж,"55,9",нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально
1,жен,"37,4",нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально
2,жен,"48,3",да,1241,1,1,3,нормально,нормально,плохо,плохо,нормально
3,муж,"58,6",да,1579,1,1,4,нормально,плохо,нормально,хорошо,нормально
4,муж,"34,3",нет,469,0,1,4,нормально,отсутствует,плохо,нормально,нормально

In [20]:
dd = df['Пол'].name

In [22]:
dd

'Пол'

In [24]:
dd.lower()

'пол'

In [26]:
df['Путешествует с детьми'].name.replace(' ', '_')

'Путешествует_с_детьми'

In [28]:
df['Путешествует с детьми'].name

'Путешествует с детьми'

In [30]:
# можно вывести названия колонок
df.columns

Index(['Пол', 'Возраст', 'Путешествует с детьми', 'Расстояние',
       'Включён завтрак', 'Наличие wifi', 'Оценка удобства добирания до места',
       'Оценка интерсности досуга', 'Оценка качества питания',
       'Оценка качества wifi', 'Оценка комфортности палатки',
       'Общая оценка качества предоставленной услуги'],
      dtype='object')

#### привести названия колонок к PEP8

In [34]:
df.head(3)

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги
0,муж,"55,9",нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально
1,жен,"37,4",нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально
2,жен,"48,3",да,1241,1,1,3,нормально,нормально,плохо,плохо,нормально

#### Изучение типов данных

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2997 entries, 0 to 2998
Data columns (total 12 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Пол                                           2997 non-null   object
 1   Возраст                                       2997 non-null   object
 2   Путешествует с детьми                         2997 non-null   object
 3   Расстояние                                    2997 non-null   int64
 4   Включён завтрак                               2997 non-null   int64
 5   Наличие wifi                                  2997 non-null   int64
 6   Оценка удобства добирания до места            2997 non-null   int64
 7   Оценка интерсности досуга                     2997 non-null   object
 8   Оценка качества питания                       2997 non-null   object
 9   Оценка качества wifi                          2997 non-null   object
 10  Оценка комфортности палатки                   2997 non-null   object
 11  Общая оценка качества предоставленной услуги  2997 non-null   object
dtypes: int64(4), object(8)
memory usage: 304.4+ KB

In [39]:
# конструкция для изменения типов данных
df['Возраст'] = df['Возраст'].astype(int) # (int/object)

ValueError: invalid literal for int() with base 10: '55,9'

In [ ]:
# df['Возраст'] = df['Возраст'].replace(',', '.', regex=true)
round(df['Возраст'].astype(int), 0)

In [ ]:
df.info()

## Перевод в категориальгные шкалы

In [ ]:
df.head(4)

In [ ]:
df['расст_кат'] = df['Расстояние'].apply(lambda x: 'близко' if x <= 500 else 'далеко')

In [ ]:
df.head(4)

## Посчитать количество категориальных данных

In [ ]:
df['расст_кат'].value_counts()

### Выбрать группу данных для работы

In [ ]:
df[df['Общая оценка качества предоставленной услуги'] == 'плохо']

In [ ]:
df[df['Расстояние'] > 500]

## Группировка данных

In [ ]:
Расстояние

In [ ]:
df.groupby(['Пол','Путешествует с детьми'])['Расстояние'].agg(sum)

In [ ]:
df.groupby(['Пол'])['Расстояние'].agg(['sum', 'min', 'max'])

In [ ]:
df.columns = (df.columns.str.lower()
              .str.replace(' ', '_')
              .str.replace('-', '_'))
result = (
    df.groupby('путешествует_с_детьми')
    ['общая_оценка_качества_предоставленной_услуги']
    .value_counts(normalize=True) * 100)
result.round(1)

In [ ]:
df.groupby(['Пол']).size()

In [ ]:
df['Пол'].value_counts()

In [ ]:
pivot_table() - обязательно посмотреть !!!!!!!!!!!!!!!

In [52]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df['возраст']

0       55,9
1       37,4
2       48,3
3       58,6
4       34,3
        ...
2994    40,8
2995    43,8
2996    40,8
2997    49,4
2998    60,5
Name: возраст, Length: 2997, dtype: object

In [60]:
suk = df['общая_оценка_качества_предоставленной_услуги']
suk

0       нормально
1       нормально
2       нормально
3       нормально
4       нормально
          ...
2994    нормально
2995    нормально
2996    нормально
2997    нормально
2998    нормально
Name: общая_оценка_качества_предоставленной_услуги, Length: 2997, dtype: object

In [64]:
result = (
    df.groupby('путешествует_с_детьми')
    ['общая_оценка_качества_предоставленной_услуги']
    .value_counts(normalize=True) * 100)
result = result.round(1).to_frame(name='0')
print(result)

                                                                       0
путешествует_с_детьми общая_оценка_качества_предоставленной_услуги
да                    нормально                                     67.2
                      хорошо                                        18.1
                      плохо                                         14.8
нет                   нормально                                     65.7
                      хорошо                                        21.0
                      плохо                                         13.4