## Библиотеки

In [4]:
# Загружаем необходимые библиотеки
import pandas as pd
import numpy as np

# Посомтреть директория компа
import os
current_dir = os.getcwd()
print(current_dir)

In [6]:
# Убрать предупреждения
import warnings
warnings.filterwarnings('ignore')

## Загрузка данных

In [8]:
PATH_OUT = r'C:\Users\Admin\anaconda_projects\db'

In [9]:
# Загрузка данных в csv формате
df = pd.read_csv(PATH_OUT + '\\upload.csv', sep=';', encoding='cp1251', na_values=[' ']) #encoding='utf-8'
df = df.dropna()  # удалили строки с пропусками
df.shape
# df..... # команда, позволяющая вывести

(2997, 12)

In [10]:
df.head(7)

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги
0,муж,"55,9",нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально
1,жен,"37,4",нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально
2,жен,"48,3",да,1241,1,1,3,нормально,нормально,плохо,плохо,нормально
3,муж,"58,6",да,1579,1,1,4,нормально,плохо,нормально,хорошо,нормально
4,муж,"34,3",нет,469,0,1,4,нормально,отсутствует,плохо,нормально,нормально
5,муж,"33,3",нет,667,0,0,4,плохо,отсутствует,отсутствует,нормально,нормально
6,жен,"45,2",нет,865,1,1,4,хорошо,плохо,хорошо,нормально,хорошо

In [11]:
df.isna().sum()

Пол                                             0
Возраст                                         0
Путешествует с детьми                           0
Расстояние                                      0
Включён завтрак                                 0
Наличие wifi                                    0
Оценка удобства добирания до места              0
Оценка интерсности досуга                       0
Оценка качества питания                         0
Оценка качества wifi                            0
Оценка комфортности палатки                     0
Общая оценка качества предоставленной услуги    0
dtype: int64

In [13]:
# а если вывести несколько столбцов?
df.head()

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги
0,муж,"55,9",нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально
1,жен,"37,4",нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально
2,жен,"48,3",да,1241,1,1,3,нормально,нормально,плохо,плохо,нормально
3,муж,"58,6",да,1579,1,1,4,нормально,плохо,нормально,хорошо,нормально
4,муж,"34,3",нет,469,0,1,4,нормально,отсутствует,плохо,нормально,нормально

In [21]:
dd = df['Пол'].name

In [23]:
dd

'Пол'

In [25]:
dd.lower()

'пол'

In [27]:
df['Путешествует с детьми'].name.replace(' ', '_')

'Путешествует_с_детьми'

In [29]:
df['Путешествует с детьми'].name

'Путешествует с детьми'

In [31]:
# можно вывести названия колонок
df.columns

Index(['Пол', 'Возраст', 'Путешествует с детьми', 'Расстояние',
       'Включён завтрак', 'Наличие wifi', 'Оценка удобства добирания до места',
       'Оценка интерсности досуга', 'Оценка качества питания',
       'Оценка качества wifi', 'Оценка комфортности палатки',
       'Общая оценка качества предоставленной услуги'],
      dtype='object')

#### привести названия колонок к PEP8

In [35]:
df.head(3)

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги
0,муж,"55,9",нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально
1,жен,"37,4",нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально
2,жен,"48,3",да,1241,1,1,3,нормально,нормально,плохо,плохо,нормально

#### Изучение типов данных

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2997 entries, 0 to 2998
Data columns (total 12 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Пол                                           2997 non-null   object
 1   Возраст                                       2997 non-null   object
 2   Путешествует с детьми                         2997 non-null   object
 3   Расстояние                                    2997 non-null   int64
 4   Включён завтрак                               2997 non-null   int64
 5   Наличие wifi                                  2997 non-null   int64
 6   Оценка удобства добирания до места            2997 non-null   int64
 7   Оценка интерсности досуга                     2997 non-null   object
 8   Оценка качества питания                       2997 non-null   object
 9   Оценка качества wifi                          2997 non-null   object
 10  Оценка комфортности палатки                   2997 non-null   object
 11  Общая оценка качества предоставленной услуги  2997 non-null   object
dtypes: int64(4), object(8)
memory usage: 304.4+ KB

In [42]:
# конструкция для изменения типов данных
df['Возраст'] = df['Возраст'].astype(int) # (int/object)

ValueError: invalid literal for int() with base 10: '55,9'

In [44]:
# df['Возраст'] = df['Возраст'].replace(',', '.', regex=true)
round(df['Возраст'].astype(int), 0)

ValueError: invalid literal for int() with base 10: '55,9'

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2997 entries, 0 to 2998
Data columns (total 12 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Пол                                           2997 non-null   object
 1   Возраст                                       2997 non-null   object
 2   Путешествует с детьми                         2997 non-null   object
 3   Расстояние                                    2997 non-null   int64
 4   Включён завтрак                               2997 non-null   int64
 5   Наличие wifi                                  2997 non-null   int64
 6   Оценка удобства добирания до места            2997 non-null   int64
 7   Оценка интерсности досуга                     2997 non-null   object
 8   Оценка качества питания                       2997 non-null   object
 9   Оценка качества wifi                          2997 non-null   object
 10  Оценка комфортности палатки                   2997 non-null   object
 11  Общая оценка качества предоставленной услуги  2997 non-null   object
dtypes: int64(4), object(8)
memory usage: 304.4+ KB

## Перевод в категориальгные шкалы

In [49]:
df.head(4)

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги
0,муж,"55,9",нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально
1,жен,"37,4",нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально
2,жен,"48,3",да,1241,1,1,3,нормально,нормально,плохо,плохо,нормально
3,муж,"58,6",да,1579,1,1,4,нормально,плохо,нормально,хорошо,нормально

In [52]:
df['расст_кат'] = df['Расстояние'].apply(lambda x: 'близко' if x <= 500 else 'далеко')

In [54]:
df.head(4)

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги,расст_кат
0,муж,"55,9",нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально,далеко
1,жен,"37,4",нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально,далеко
2,жен,"48,3",да,1241,1,1,3,нормально,нормально,плохо,плохо,нормально,далеко
3,муж,"58,6",да,1579,1,1,4,нормально,плохо,нормально,хорошо,нормально,далеко

## Посчитать количество категориальных данных

In [59]:
df['расст_кат'].value_counts()

расст_кат
далеко    1932
близко    1065
Name: count, dtype: int64

### Выбрать группу данных для работы

In [63]:
df[df['Общая оценка качества предоставленной услуги'] == 'плохо']

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги,расст_кат
11,муж,"37,4",нет,195,1,1,3,нормально,плохо,плохо,плохо,плохо,близко
22,муж,"64,2",нет,688,1,0,2,плохо,плохо,отсутствует,нормально,плохо,далеко
23,муж,"41,6",нет,705,0,1,2,нормально,отсутствует,плохо,плохо,плохо,далеко
33,жен,"36,7",нет,456,1,1,3,нормально,плохо,плохо,нормально,плохо,близко
37,жен,"21,6",нет,157,1,0,2,плохо,плохо,отсутствует,плохо,плохо,близко
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2951,муж,"37,7",нет,292,1,1,1,плохо,плохо,плохо,хорошо,плохо,близко
2961,муж,"28,6",нет,2255,1,1,2,нормально,плохо,плохо,хорошо,плохо,далеко
2973,муж,"27,9",нет,196,0,0,2,плохо,отсутствует,отсутствует,плохо,плохо,близко
2981,жен,"32,3",нет,973,1,1,4,нормально,плохо,нормально,хорошо,плохо,далеко
2982,жен,"35,3",нет,944,1,1,3,нормально,плохо,плохо,нормально,плохо,далеко

In [73]:
df.query('Общая оценка качества предоставленной услуги == "плохо"')

SyntaxError: invalid syntax (<unknown>, line 1)

In [ ]:
df[df['Расстояние'] > 500]

## Группировка данных

In [ ]:
Расстояние

In [ ]:
df.groupby(['Пол','Путешествует с детьми'])['Расстояние'].agg(sum)

In [ ]:
df.groupby(['Пол'])['Расстояние'].agg(['sum', 'min', 'max'])

In [ ]:
df.columns = (df.columns.str.lower()
              .str.replace(' ', '_')
              .str.replace('-', '_'))
result = (
    df.groupby('путешествует_с_детьми')
    ['общая_оценка_качества_предоставленной_услуги']
    .value_counts(normalize=True) * 100)
result.round(1)

In [ ]:
df.groupby(['Пол']).size()

In [ ]:
df['Пол'].value_counts()

In [ ]:
pivot_table() - обязательно посмотреть !!!!!!!!!!!!!!!

In [52]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df['возраст']

0       55,9
1       37,4
2       48,3
3       58,6
4       34,3
        ...
2994    40,8
2995    43,8
2996    40,8
2997    49,4
2998    60,5
Name: возраст, Length: 2997, dtype: object

In [60]:
suk = df['общая_оценка_качества_предоставленной_услуги']
suk

0       нормально
1       нормально
2       нормально
3       нормально
4       нормально
          ...
2994    нормально
2995    нормально
2996    нормально
2997    нормально
2998    нормально
Name: общая_оценка_качества_предоставленной_услуги, Length: 2997, dtype: object

In [93]:
df['расстояние_кат'] = df['расстояние'].apply(lambda x: 'домашний_регион' if x <= 300 else 
                                              'недалеко_отдома' if x <= 700 else 
                                              'дальнее_путешествие')
result = (
    df[df['общая_оценка_качества_предоставленной_услуги'] == 'плохо']
    .groupby('расстояние_кат')
    ['путешествует_с_детьми']
    .value_counts(normalize=True) * 100)
result = result.round(1).to_frame(name='0').sort_index()
print(result)

                                              0
расстояние_кат      путешествует_с_детьми
дальнее_путешествие да                     24.7
                    нет                    75.3
домашний_регион     да                     16.4
                    нет                    83.6
недалеко_отдома     да                     19.9
                    нет                    80.1

In [91]:
result = (
    df[df['общая_оценка_качества_предоставленной_услуги'] == 'плохо']
    .groupby(['расстояние_кат', 'путешествует_с_детьми'])
    .size()
    .groupby(level=0)
    .apply(lambda x: x / x.sum() * 100)
    .round(1)
)